body {
    background: url("/img/white-pattern.png");
    margin: 0;
}

fieldset,
legend {
    margin: 0;
    padding: 0;
    border: none;
}

.shop-header {
    margin-bottom: 50px;
    background-color: #000000;
}

.main-header {
    background-color: #000000;
    margin-bottom: 90px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    height: 70px;
    padding: 0 10px;
    margin: 0 auto;
  }
  
  .main-navigation {
    flex-basis: 720px;
  }
  
  .main-navigation ul {
    display: flex;
    padding: 0px;
    margin: 0;
    list-style: none;
  }
  
  .main-navigation ul li {
    line-height: 20px;
  }
  
  .navigation-link {
    padding: 25px 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.26, 0.85, 0.75, 1);
  }
  
  .navigation-link:hover {
    background-color: #848484;
  }
  
  .user-block {
    position: relative;
    flex-basis: 140px;
  
  }
  
  .login {
    padding: 25px 20px 25px 55px;
  }
  
  .login::before {
    position: absolute;
    left: 15px;
    top: 0;
    content: '';
    display: block;
    background: url('/img/icon-login.gif') no-repeat center;
    width: 18px;
    height: 16px;
  
    padding-right: 20px;
    opacity: 0.3;
    transition: opacity 0.3s cubic-bezier(0.25, 0.3, 0.75, 1);
  }
  
  .login:hover::before {
    opacity: 1;
  }

.main-content .container {
    display: block;
}

.bread-crumbs {
    margin-bottom: 55px;
}

.main-page a,
.shop-page a,
.beauty-products a,
.beauty-travel-set a,
.item-presence,
.item-articul,
.item-desctiption p,
.item-price,
.item-buy,
.item-desctiption ul,
.item-parts h3 {
    line-height: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.main-page::after,
.shop-page::after {
    display: inline-block;
    content: "";
    width: 8px;
    height: 8px;
    margin: 0 15px 1px;
    background-color: #000000;
    transform: rotate(45deg);
}

.beauty-products a {
    color: #b8b8b7;
}

.producers-title {
    margin-bottom: 25px;
    line-height: 30px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.producers ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.producers label {
    display: block;
    line-height: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.producer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.producer-checkbox {
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 21px;
    margin: 0;
    margin-right: 25px;
    appearance: none;
    outline: solid 2px #000000;

}

.beauty-products-about {
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 40px;
}

.beauty-products-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item {
    padding-bottom: 15px;
    box-shadow: 0px 0px 15px rgba(0, 1, 1, 0.2);
    background-color: #ffffff;
}

.item div:nth-child(2),
.item div:nth-child(3) {
    padding: 0 15px;
}

.item-link {
    line-height: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    color: #000000;
}

.link-title {
    text-transform: uppercase;
}

.item-cost {
    display: flex;
    margin-top: 30px;
}

.item-price {
    display: inline-block;
    width: 110px;
    box-sizing: border-box;
    padding: 15px 25px;
    text-align: center;
    background-color: #e5e5e5;
}

.item-buy {
    display: inline-block;
    width: 78px;
    box-sizing: border-box;
    padding: 15px 19px;
    background-color: #000000;
    color: #ffffff;
}

.pages ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 7px;
    width: 194px;
    padding: 0;
    margin: 45px 0px 50px 240px;
    list-style: none;
}

.page {
    display: block;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    padding: 14px 20px 16px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
}

.active-page {
    background-color: #ffffff;
    color: #000000;
}

.site-footer {
    box-sizing: border-box;
    height: 188px;
    background-color: #202020;
    box-shadow: inset 0 25px 15px -5px rgba(0, 1, 1, 0.5);
}

.site-footer .container {
    display: grid;
    grid-template-columns: 350px 140px 1fr;
    column-gap: 50px;
    padding: 60px 0 40px;
    box-sizing: border-box;
    height: 188px;

}

.site-footer-copyright {
    justify-self: end;
}

.site-footer p,
.find-us,
.developer {
    font-size: 14px;
    font-weight: 700;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    line-height: 24px;
    color: #ffffff;
}

.site-footer p {
    margin: 0;
}

.find-us {
    border-bottom: solid 1.5px #a7a7a7;
    text-decoration: none;
}

.site-footer-social {
    text-align: center;
}

.social-links {
    display: grid;
    grid-template-columns: repeat(3, 44px);
    gap: 6px;
}

.social-link {
    display: block;
    width: 44px;
    height: 44px;
    font-size: 0;
    text-decoration: none;
    background-color: #000000;
}

.social-link-vk {
    background: url('/img/vk.png') no-repeat 50% 50% #000000;
}

.social-link-fs {
    background: url('/img/fb.png') no-repeat 50% 50% #000000;
}

.social-link-inst {
    background: url('/img/inst.png') no-repeat 50% 50% #000000;
}

.site-footer-copyright p {
    margin-bottom: 25px;
    text-align: center;
}

.developer {
    box-sizing: border-box;
    width: 140px;
    padding: 15px 20px;
    text-decoration: none;
    background-color: #000000;
}