body {
    margin: 0;
    font-family: 'PT Sans Narrow', "Helvetica", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    background: #f8f5f2 url("/img/white-pattern.png");
}

.main-header {
    background-color: #000000;
    margin-bottom: 55px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    height: 70px;
    padding: 0 10px;
    margin: 0 auto;
}

.main-navigation {
    flex-basis: 720px;
}

.main-navigation ul {
    display: flex;
    padding: 0px;
    margin: 0;
    list-style: none;
}

.main-navigation ul li {
    line-height: 20px;
}

.img-link {
    position: relative;
    top: -3px;
}

.navigation-link {
    padding: 26px 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.26, 0.85, 0.75, 1);
}

.navigation-link:hover {
    background-color: #848484;
}

.user-block {
    position: relative;
    flex-basis: 140px;

}

.login {
    padding: 25px 20px 25px 55px;
}

.login::before {
    position: absolute;
    left: 15px;
    top: 0;
    content: '';
    display: block;
    background: url('/img/icon-login.gif') no-repeat center;
    width: 18px;
    height: 16px;
    padding-right: 20px;
    opacity: 0.3;
    transition: opacity 0.3s cubic-bezier(0.25, 0.3, 0.75, 1);
}

.login:hover::before {
    opacity: 1;
}

.main-content {
    margin-bottom: 20px;
}

.main-content .container {
    display: block;
    height: auto;
}

.section-name {
    margin: 0;
    margin-bottom: 25px;
    line-height: 1.2;
    font-family: 'PT Sans Narrow', "Helvetica", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.bread-crumbs {
    margin-bottom: 45px;
}

.bread-crumbs a {

    line-height: 1.3;
    color: #000000;
    text-decoration: none;
}

.main-page::after {
    display: inline-block;
    content: "";
    width: 8px;
    height: 8px;
    margin: 0 20px 1px;
    background-color: #000000;
    transform: rotate(45deg);
}

.price-list a {
    color: #b8b8b7;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 60px;
    line-height: 1.3;
    font-size: 48px;
}

.section-title::before,
.section-title::after {
    content: "";
    display: inline-block;
    width: 160px;
    height: 2px;
    background-color: #000000;
}

.services {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
}

.content-block-title {
    margin: 0;
    margin-bottom: 35px;
    line-height: 1.3;
    font-weight: 700;
    font-size: 24px;
}

.we-are-using ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.we-are-using-item {
    line-height: 1.3;
    margin-bottom: 20px;
}

.we-are-using-item:last-child {
    margin-bottom: 0;
}

.we-are-using-item::before {
    display: inline-block;
    content: "";
    width: 8px;
    height: 8px;
    margin: 0 10px 1px 0px;
    background-color: #000000;
    transform: rotate(45deg);
}

.services-price {
    flex-basis: 460px;
}

.about-us-container {
    display: grid;
    grid-template-columns: repeat(2, 380px);
    column-gap: 100px;
    margin-bottom: 65px;
}

.about-us-container p {
    margin: 0;
    line-height: 24px;
}

.services-price-table {
    border-collapse: collapse;
}

.services-price-table td {
    box-sizing: border-box;
    line-height: 1.3;
    width: 230px;
    padding: 10px 17px;
    border: solid 2px #000000;

}

/*/////////////////////////////////////////////////////////*/
.site-footer {
    box-sizing: border-box;
    height: 188px;
    background-color: #202020;
    box-shadow: inset 0 25px 15px -5px rgba(0, 1, 1, 0.5);
}

.site-footer .container {
    display: grid;
    grid-template-columns: 350px 140px 1fr;
    column-gap: 50px;
    padding: 60px 0 40px;
}

.site-footer-copyright {
    justify-self: end;
}

.site-footer p,
.find-us,
.developer {
    font-size: 14px;
    font-weight: 700;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    line-height: 24px;
    color: #ffffff;
}

.site-footer p {
    margin: 0;
}

.find-us {
    border-bottom: solid 1.5px #a7a7a7;
    text-decoration: none;
}

.site-footer-social {
    align-self: start;
    text-align: center;
}

.site-footer-social p {
    margin-bottom: 12px;
}

.social-links {
    display: grid;
    grid-template-columns: repeat(3, 44px);
    gap: 6px;
}

.social-link {
    display: block;
    width: 44px;
    height: 44px;
    font-size: 0;
    text-decoration: none;
    background-color: #000000;
    transition: background 0.2s cubic-bezier(0.98, 0.1, 0.95, 1.02);
}

.social-link-vk {
    background: url('/img/logos.png') no-repeat #000000;
    background-position: 10px 10px;
}

.social-link-vk:hover {
    background-color: #ffffff;
    background-position: 10px -53px;
}

.social-link-fs {
    background: url('/img/logos.png') no-repeat 50% 50% #000000;
    background-position: -39px 10px;
}

.social-link-fs:hover {
    background-color: #ffffff;
    background-position: -39px -53px;
}

.social-link-inst {
    background: url('/img/logos.png') no-repeat 50% 50% #000000;
    background-position: -89px 10px;
}

.social-link-inst:hover {
    background-color: #ffffff;
    background-position: -89px -53px;
}

.site-footer-copyright {
    align-self: start;
}

.site-footer-copyright p {
    margin-bottom: 25px;
    text-align: center;
}

.developer {
    box-sizing: border-box;
    width: 140px;
    padding: 15px 20px;
    text-decoration: none;
    background-color: #000000;
    transition: background 0.25s cubic-bezier(0.98, 0.1, 0.95, 1.02);
}

.developer:hover {
    background-color: #ffffff;
    color: #000000;
}