body {
    background: url("../img/white-pattern.png");
    margin: 0;
}

fieldset,
legend {
    margin: 0;
    padding: 0;
    border: none;
}

.main-header {
    background-color: #000000;
    margin-bottom: 55px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

.main-navigation {
    flex-basis: 720px;
}

.main-navigation {
    display: flex;
}

.main-navigation ul {
    display: flex;
    padding: 0px;
    margin: 0;
    list-style: none;
}

.navigation-link {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 25px 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.26, 0.85, 0.75, 1);
}

.active-link::after {
    position: absolute;
    bottom: 0px;
    left: 20px;
    right: 20px;
    content: "";
    display: block;
    height: 5px;
    background-color: #ffffff;
}

.img-link {
    padding: 21px 20px 20px;
}


.navigation-link:hover {
    background-color: #848484;
}

.user-block {
    position: relative;
    flex-basis: 140px;
}

.login {
    padding: 22px 20px 28px 55px;
}

.login::before {
    position: absolute;
    left: 15px;
    top: 22px;
    content: '';
    display: block;
    background: url('../img/icon-login.gif') no-repeat center;
    width: 18px;
    height: 16px;
    padding-right: 20px;
    opacity: 0.3;
    transition: opacity 0.3s cubic-bezier(0.25, 0.3, 0.75, 1);
}

.login:hover::before {
    opacity: 1;
}

.main-content .container {
    display: block;
}

.bread-crumbs {
    margin-bottom: 55px;
}

.main-page a,
.shop-page a,
.beauty-products a,
.beauty-travel-set a,
.item-presence,
.item-articul,
.item-desctiption p,
.item-price,
.item-buy,
.item-desctiption ul,
.item-parts h3 {
    line-height: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.main-page::after,
.shop-page::after {
    display: inline-block;
    content: "";
    width: 8px;
    height: 8px;
    margin: 0 15px 1px;
    background-color: #000000;
    transform: rotate(45deg);
}

.beauty-products a {
    color: #b8b8b7;
}

.producers-title {
    margin-bottom: 30px;
    line-height: 30px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.producers ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.producers label {
    display: block;
    line-height: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.producer {
    margin-bottom: 12px;
}

.producer-checkbox {
    display: none;
}

.producer-checkbox-replacer {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: solid 2px #000000;
    background-color: #f9f6f3;
}


.producer-checkbox:checked+.producer-checkbox-replacer::after,
.producer-checkbox:checked+.producer-checkbox-replacer::before {
    position: absolute;
    top: 7px;
    left: 1px;
    content: "";
    display: block;
    width: 14px;
    height: 2px;
    background-color: #000000;
}

.producer-checkbox:checked+.producer-checkbox-replacer::before {
    transform: rotate(45deg);
}

.producer-checkbox:checked+.producer-checkbox-replacer::after {
    transform: rotate(-45deg);
}

.producer-label {
    position: relative;
    left: 20px;
    bottom: 5px;
    transition: color 0.25s cubic-bezier(0.25, 0.3, 0.75, 1);
    cursor: pointer;
}

.producer-label:hover {
    color: #663d15;
}


.items-group {
    margin: 0;
    padding: 0;
}

.items-group li {
    margin-bottom: 20px;
}

.items-group li:last-child {
    margin-bottom: 0;
}

.items-group li label {
    max-height: 20px;

}

.items-group .label-modificator {
    margin-bottom: 35px;
}

.hidden-radio {
    display: none;
}

.item-radio {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: solid 2px #000000;
    border-radius: 50%;
    background-color: #f9f6f3;
}

.hidden-radio:checked+.item-radio::after {
    position: absolute;
    top: 4px;
    left: 4px;
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000000;
}

.item-radio-label {
    position: relative;
    left: 40px;
    bottom: 23px;
    display: block;
    width: 120px;
    margin: 0;
    transition: color 0.25s cubic-bezier(0.25, 0.3, 0.75, 1);
    cursor: pointer;
}

.item-radio-label:hover {
    color: #663d15;
}

.btn {

    box-sizing: border-box;
    width: 110px;
    padding: 15px 30px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
    transition: background 0.25s cubic-bezier(0.25, 0.3, 0.75, 1);
}

.btn:hover {
    background-color: #663d15;
}

.items-group-show {
    margin-top: 50px;
}

.beauty-products-about {
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 40px;
}

.beauty-products-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item {
    padding-bottom: 15px;
    box-shadow: 0px 0px 15px rgba(0, 1, 1, 0.2);
    background-color: #ffffff;
}

.item div:nth-child(2),
.item div:nth-child(3) {
    padding: 0 15px;
}

.item-link {
    line-height: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    color: #000000;
}

.link-title {
    text-transform: uppercase;
}

.item-cost {
    display: flex;
    margin-top: 30px;
}

.item-price {
    display: inline-block;
    width: 110px;
    box-sizing: border-box;
    padding: 15px 25px;
    text-align: center;
    background-color: #e5e5e5;
}

.item-buy {
    display: inline-block;
    width: 78px;
    box-sizing: border-box;
    padding: 15px 19px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    transition: background 0.25s cubic-bezier(0.25, 0.3, 0.75, 1);
}

.item-buy:hover {
    background-color: #663d15;
}

.pages ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 7px;
    width: 194px;
    padding: 0;
    margin: 45px 0px 50px 240px;
    list-style: none;
}

.page {
    display: block;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    padding: 14px 20px 16px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;

    transition: background 0.25s cubic-bezier(0.25, 0.3, 0.75, 1);
}

.page:hover {
    background-color: #663d15;
}

.active-page {
    background-color: #ffffff;
    color: #000000;
    pointer-events: none;
}

.site-footer {
    background-color: #202020;
    box-shadow: inset 0 25px 15px -5px rgba(0, 1, 1, 0.5);
}

.site-footer .container {
    display: grid;
    grid-template-columns: 350px 140px 1fr;
    column-gap: 50px;
    padding: 56px 0 36px;
    max-height: 188px;
}

.site-footer-copyright {
    justify-self: end;
}

.site-footer p,
.find-us,
.developer {
    font-size: 14px;
    font-weight: 700;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    line-height: 24px;
    color: #ffffff;
}

.site-footer p {
    margin: 0;
}

.find-us {
    border-bottom: solid 1.5px #a7a7a7;
    text-decoration: none;
}

.site-footer-social {
    align-self: start;
    text-align: center;
}

.site-footer-social p {
    margin-bottom: 12px;
}

.social-links {
    display: grid;
    grid-template-columns: repeat(3, 44px);
    gap: 6px;
}

.social-link {
    display: block;
    width: 44px;
    height: 44px;
    font-size: 0;
    text-decoration: none;
    background-color: #000000;
    transition: background 0.2s cubic-bezier(0.98, 0.1, 0.95, 1.02);
}

.social-link-vk {
    background: url('../img/logos.png') no-repeat #000000;
    background-position: 10px 10px;
}

.social-link-vk:hover {
    background-color: #ffffff;
    background-position: 10px -53px;
}

.social-link-fs {
    background: url('../img/logos.png') no-repeat 50% 50% #000000;
    background-position: -39px 10px;
}

.social-link-fs:hover {
    background-color: #ffffff;
    background-position: -39px -53px;
}

.social-link-inst {
    background: url('../img/logos.png') no-repeat 50% 50% #000000;
    background-position: -89px 10px;
}

.social-link-inst:hover {
    background-color: #ffffff;
    background-position: -89px -53px;
}

.site-footer-copyright {
    align-self: start;
}

.site-footer-copyright p {
    margin-bottom: 25px;
    text-align: center;
}

.developer {
    box-sizing: border-box;
    width: 140px;
    padding: 15px 20px;
    text-decoration: none;
    background-color: #000000;
    transition: background 0.25s cubic-bezier(0.98, 0.1, 0.95, 1.02);
}

.developer:hover {
    background-color: #ffffff;
    color: #000000;
}