body {
    background: url("/img/white-pattern.png");
    margin: 0;
}

.main-header {
    background-color: #000000;
    margin-bottom: 55px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;

    padding: 0 10px;
    margin: 0 auto;
}

.main-navigation {
    flex-basis: 720px;
}

.main-navigation {
    display: flex;
}

.main-navigation ul {
    display: flex;
    padding: 0px;
    margin: 0;
    list-style: none;
}



.navigation-link {
    display: block;
    box-sizing: border-box;
    height: 100%;
    padding: 20.5px 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.26, 0.85, 0.75, 1);
}

.img-link {
    padding: 18px 20px 23px;
}


.navigation-link:hover {
    background-color: #848484;
}

.user-block {
    position: relative;
    flex-basis: 140px;
}

.login {
    padding: 22px 20px 28px 55px;
}

.login::before {
    position: absolute;
    left: 15px;
    top: 22px;
    content: '';
    display: block;
    background: url('/img/icon-login.gif') no-repeat center;
    width: 18px;
    height: 16px;
    padding-right: 20px;
    opacity: 0.3;
    transition: opacity 0.3s cubic-bezier(0.25, 0.3, 0.75, 1);
}

.login:hover::before {
    opacity: 1;
}

.item-name {
    margin: 0 0 20px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    font-family: 'PT Sans Narrow', sans-serif;
}

.main-content {
    margin-bottom: 30px;
}

.main-content .container {
    display: block;
}

.bread-crumbs {
    margin-bottom: 45px;
}

.main-page a,
.shop-page a,
.beauty-products a,
.beauty-travel-set a,
.item-presence,
.item-articul,
.item-desctiption p,
.item-price,
.item-buy,
.item-desctiption ul,
.item-parts h3 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.main-page::after,
.shop-page::after,
.beauty-products::after {
    display: inline-block;
    content: "";
    width: 8px;
    height: 8px;
    margin: 0 20px 1px;
    background-color: #000000;
    transform: rotate(45deg);
}

.beauty-travel-set a {
    color: #b8b8b7;
}

.about-item {
    display: grid;
    grid-template-columns: 1fr 390px;
    column-gap: 80px;
}

.active-photo-container {
    width: 490px;
    height: 500px;
    box-shadow: 0px 0px 15px rgba(0, 1, 1, 0.2);
    margin: 0;
    margin-bottom: 30px;
}

.active-photo {
    display: block;
    width: 490px;
    height: 500px;
    margin: 0;
}

.all-photos {
    position: relative;
    bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, 146px);
    column-gap: 25px;
}

.img-container {
    min-height: 160px;
    transition: transform 0.05s cubic-bezier(0.26, 0.85, 0.75, 1);
}

.item-img {
    width: 146px;
    height: 150px;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 1, 1, 0.2);
    transition: all 0.1s cubic-bezier(0.26, 0.85, 0.75, 1);
}

.item-img:hover {
    border: solid 2px #000000;
}

.img-container:hover .item-img {
    transform: translateZ(5px);
}

.item-photos {
    perspective: 50px;
}

.photo:nth-child(2) {}

.photo:nth-child(3) {}

.additional-information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 25px;
}

.item-articul {
    color: #b8b8b7;
}

.item-desctiption p {
    margin: 0;
    margin-bottom: 40px;
    line-height: 24px;
}

.item-cost {
    display: flex;
    margin-bottom: 65px;
}

.item-price {
    display: block;
    box-sizing: border-box;
    width: 110px;
    height: 43px;
    padding: 13px 28px 15px 28px;
    text-align: center;
    background-color: #e5e5e5;
}

.item-buy {
    display: block;
    box-sizing: border-box;
    width: 80px;
    height: 43px;
    padding: 13px 18px 15px 18px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
}

.item-parts h3 {
    margin: 0;
    margin-bottom: 40px;
    font-size: 24px;
}

.item-parts ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-parts ul li {
    position: relative;
    margin-bottom: 10px;
}

.item-parts ul li span::before {
    display: inline-block;
    content: "";
    width: 8px;
    height: 8px;
    margin: 0 10px 1px 0px;
    background-color: #000000;
    transform: rotate(45deg);

}

.site-footer {
    box-sizing: border-box;
    height: 188px;
    background-color: #202020;
    box-shadow: inset 0 25px 15px -5px rgba(0, 1, 1, 0.5);
}

.site-footer .container {
    display: grid;
    grid-template-columns: 350px 140px 1fr;
    column-gap: 50px;
    padding: 56px 0 36px;
}

.site-footer-copyright {
    justify-self: end;
}

.site-footer p,
.find-us,
.developer {
    font-size: 14px;
    font-weight: 700;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    line-height: 24px;
    color: #ffffff;
}

.site-footer p {
    margin: 0;
}

.find-us {
    border-bottom: solid 1.5px #a7a7a7;
    text-decoration: none;
}

.site-footer-social {
    align-self: start;
    text-align: center;
}

.site-footer-social p {
    margin-bottom: 12px;
}

.social-links {
    display: grid;
    grid-template-columns: repeat(3, 44px);
    gap: 6px;
}

.social-link {
    display: block;
    width: 44px;
    height: 44px;
    font-size: 0;
    text-decoration: none;
    background-color: #000000;
    transition: background 0.2s cubic-bezier(0.98, 0.1, 0.95, 1.02);
}

.social-link-vk {
    background: url('/img/logos.png') no-repeat #000000;
    background-position: 10px 10px;
}

.social-link-vk:hover {
    background-color: #ffffff;
    background-position: 10px -53px;
}

.social-link-fs {
    background: url('/img/logos.png') no-repeat 50% 50% #000000;
    background-position: -39px 10px;
}

.social-link-fs:hover {
    background-color: #ffffff;
    background-position: -39px -53px;
}

.social-link-inst {
    background: url('/img/logos.png') no-repeat 50% 50% #000000;
    background-position: -89px 10px;
}

.social-link-inst:hover {
    background-color: #ffffff;
    background-position: -89px -53px;
}

.site-footer-copyright {
    align-self: start;
}

.site-footer-copyright p {
    margin-bottom: 25px;
    text-align: center;
}

.developer {
    box-sizing: border-box;
    width: 140px;
    padding: 15px 20px;
    text-decoration: none;
    background-color: #000000;
    transition: background 0.25s cubic-bezier(0.98, 0.1, 0.95, 1.02);
}

.developer:hover {
    background-color: #ffffff;
    color: #000000;
}