body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
}

.container {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: brown;
  perspective: 100px;
  perspective-origin: bottom right;
  transform-style: preserve-3d;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: black;
}

.square1 {
  background-color: cadetblue;
}

.square2 {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.square2:hover {
  transform: rotateY(180deg);
}