.container {
  min-height: 100vh;
}
.square {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: plum;
  transition: all 1s cubic-bezier(0.98, 0.1, 0.95, 1.02);
}
.container:hover .square {
  top: 82%;
  left: 90%;
  background-color: purple;
}
