body {
  margin: 0;
  font-family: 'PT Sans Narrow', "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background: #000000 url('/img/main-background.png') no-repeat center top;
  background-size: cover;
}

.main-header {
  background-color: #000000;
  margin-bottom: 55px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;

  padding: 0 10px;
  margin: 0 auto;
}

.main-navigation {
  flex-basis: 720px;
}

.main-navigation ul {
  display: flex;
  padding: 0px;
  margin: 0;
  list-style: none;
}

.main-navigation ul li {}

.navigation-link {
  display: block;
  box-sizing: border-box;
  height: 100%;
  padding: 20.5px 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.26, 0.85, 0.75, 1);
}

.img-link {
  padding: 18px 20px 23px;
}


.navigation-link:hover {
  background-color: #848484;
}

.user-block {
  position: relative;
  flex-basis: 140px;
}

.login {
  padding: 22px 20px 28px 55px;
}

.login::before {
  position: absolute;
  left: 15px;
  top: 22px;
  content: '';
  display: block;
  background: url('/img/icon-login.gif') no-repeat center;
  width: 18px;
  height: 16px;
  padding-right: 20px;
  opacity: 0.3;
  transition: opacity 0.3s cubic-bezier(0.25, 0.3, 0.75, 1);
}

.login:hover::before {
  opacity: 1;
}

.main-content {
  margin-bottom: 60px;
}

.main-container {
  margin: 0 auto;
  padding: 0 10px;
}

.index-logo {
  margin-bottom: 20px;
}

.index-logo img {
  display: block;
  margin: 0 auto;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 940px;
  column-gap: 45px;
  margin: 0 auto 80px;
  color: #ffffff;
}

.features-item {
  text-align: center;
}

.features-item:first-child {
  margin-left: 20px;
}

.features-item:last-child {
  margin-right: 8px;
}

.features-name {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  font-family: 'PT Sans Narrow', sans-serif;
}

.features-name::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  transform: rotate(45deg);
  margin: 20px auto 30px auto;
}

.features-item p {
  line-height: 24px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  font-family: 'PT Sans Narrow', sans-serif;
}

.index-content-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
}

.right-title {
  margin-left: 60px;
}

.index-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 940px;
  box-sizing: border-box;
  padding: 55px 45px 60px 80px;
  margin: 0 auto 35px;
  background: url('/img/white-pattern.png');
  color: #000000;
}

.new-preview {
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
  list-style: none;
}

.new-preview li {
  margin-bottom: 35px;
}

.new-preview li:last-child {
  margin-bottom: 0;
}

.new-preview p,
.address,
.work-schedule,
.index-content-right p {
  max-width: 305px;
  margin: 0;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
}

.new-preview time {
  font-size: 14px;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #6a6967;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  width: 140px;
  padding: 15px 30px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
  transition: background 0.25s cubic-bezier(0.25, 0.3, 0.75, 1);
}

.btn:hover {
  background-color: #663d15;
}

.gallery-prev {
  margin-left: 60px;
  margin-right: 20px;
  opacity: 0.3;
}

.gallery-prev:hover {
  background-color: #000000;
}

.gallery-next {
  margin-left: -5px;
}

.index-content-left::after {
  position: absolute;
  left: 48%;
  top: 18.6%;
  content: '';
  display: block;
  width: 8px;
  height: 278px;
  background: url('/img/block-divider.jpg') no-repeat;
}

.gallery-content {
  display: inline-block;
  margin: 0px 0px 43px 60px;
  width: 328px;
  height: 165px;
  border: solid 7px #ffffff;
}

.site-footer {
  background: url('/img/footer-background.png') repeat;
}

.site-footer::before {
  position: absolute;
  bottom: -650px;
  z-index: -1;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 370px;
  background: #070707;
}

.address {
  margin-bottom: 25px;
}

.btn-modificator {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 15px;
}

.work-schedule {
  margin-bottom: 48px;
}

.index-content-right-container {
  margin-left: 60px;
}

.index-content-right p {
  margin-bottom: 35px;
}

.appointment-form {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: repeat(2, 42px);
  gap: 20px 25px;
}

.appointment-form input {
  padding: 0px 15px;
  border: solid 2px #000101;
  transition: outline 0.25s cubic-bezier(0.25, 0.3, 0.75, 1);

}

.appointment-form input:focus {
  outline: solid 2px #663d15;

}

.appointment-form input::placeholder {
  font-size: 14px;
  font-weight: 700;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.send-button {
  grid-area: 3 / 1 / span 1 / span 2;
  width: 100%;
  margin-top: 10px;
}

.site-footer .container {
  display: grid;
  grid-template-columns: 350px 140px 1fr;
  column-gap: 50px;
  padding: 56px 0 36px;
}

.site-footer-copyright {
  justify-self: end;
}

.site-footer p,
.find-us,
.developer {
  font-size: 14px;
  font-weight: 700;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  line-height: 24px;
  color: #ffffff;
}

.site-footer p {
  margin: 0;
}

.find-us {
  border-bottom: solid 1.5px #a7a7a7;
  text-decoration: none;
}

.site-footer-social {
  align-self: start;
  text-align: center;
}

.site-footer-social p {
  margin-bottom: 12px;
}

.social-links {
  display: grid;
  grid-template-columns: repeat(3, 44px);
  gap: 6px;
}

.social-link {
  display: block;
  width: 44px;
  height: 44px;
  font-size: 0;
  text-decoration: none;
  background-color: #000000;
  transition: background 0.2s cubic-bezier(0.98, 0.1, 0.95, 1.02);
}

.social-link-vk {
  background: url('/img/logos.png') no-repeat #000000;
  background-position: 10px 10px;
}

.social-link-vk:hover {
  background-color: #ffffff;
  background-position: 10px -53px;
}

.social-link-fs {
  background: url('/img/logos.png') no-repeat 50% 50% #000000;
  background-position: -39px 10px;
}

.social-link-fs:hover {
  background-color: #ffffff;
  background-position: -39px -53px;
}

.social-link-inst {
  background: url('/img/logos.png') no-repeat 50% 50% #000000;
  background-position: -89px 10px;
}

.social-link-inst:hover {
  background-color: #ffffff;
  background-position: -89px -53px;
}

.site-footer-copyright {
  align-self: start;
}

.site-footer-copyright p {
  margin-bottom: 25px;
  text-align: center;
}

.developer {
  box-sizing: border-box;
  width: 140px;
  padding: 15px 20px;
  text-decoration: none;
  background-color: #000000;
  transition: background 0.25s cubic-bezier(0.98, 0.1, 0.95, 1.02);
}

.developer:hover {
  background-color: #ffffff;
  color: #000000;
}

.login-window {
  position: absolute;
  top: 120px;
  left: 50%;
  box-sizing: border-box;
  padding: 0 60px 60px;
  margin-left: -230px;
  width: 460px;
  background: #f8f5f2 url("../img/white-pattern.png");
}

.login-window-close {
  position: absolute;
  top: 10;
  right: -33px;
  width: 23px;
  height: 23px;
  background: 0;
  outline: 0;
  border: 0;
  font-size: 0;
}

.login-window-close::before,
.login-window-close::after {
  position: absolute;
  top: 10px;
  left: 2px;
  content: "";
  display: block;
  width: 19px;
  height: 3px;
  border-radius: 2px;
  background-color: #d1d1d1;
}

.login-window-close::before {
  transform: rotate(45deg);
}

.login-window-close::after {
  transform: rotate(-45deg);
}

.login-window-title {
  margin-top: 55px;
  margin-bottom: 25px;
}

.login-window-form input[type="text"],
.login-window-form input[type="password"] {
  display: block;
  box-sizing: border-box;
  width: 300px;
  height: 43px;
  border: solid 2px #000000;
  padding: 13px 40px 13px 15px;
  font-family: 'PT Sans Narrow', "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  transition: outline 0.25s cubic-bezier(0.25, 0.3, 0.75, 1);
}

.login-window-form input::placeholder {
  font-family: 'PT Sans Narrow', "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
}

.login-window-form input[type="text"]:focus,
.login-window-form input[type="password"]:focus {
  outline: solid 2px #663d15;
}

.login-form-login {
  margin-bottom: 10px;
}

.login-form-password {
  margin-bottom: 15px;
}

.login-form-checkbox {
  display: none;
}

.checkbox-indicator {
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: solid 2px #000000;
  background-color: #f9f6f3;
}